{{ define "main" }}
  <section>
  </section>
  <article>
    <h1 class="title">{{.Title}}</h1>
    <h3 class="subtitle">{{.Params.description}}</h3>
    {{ with .Params.author }}
      {{ $author := index $.Site.Data.authors . }}
      <h5>{{$author.name}}</h5>
    {{ end }}
    <span class="info">
      <span class="tooltip-parent">
        {{ with .Lastmod }}
          <span class="tooltip top">
            Last modified {{ dateFormat "2006-01-02" . }}
          </span>
        {{ end }}
        {{ dateFormat "Mon, Jan 2, 2006" .Date }}
      </span>
      &middot;
      <span class="tooltip-parent">
        {{ with .WordCount }}
          <span class="tooltip top">
            {{.}} Words
          </span>
        {{ end }}
        {{.ReadingTime}} min read
      </span>
    </span>
    <span class="info small">
      <a target="_blank" rel="noopener noreferrer" href="{{.Permalink}}"><i class="fas fa-fw fa-link"></i> Permalink</a>
      {{ with .Params.projecturl }}&middot; <a target="_blank" rel="noopener noreferrer" href="{{.}}"><i class="fas fa-fw fa-code-branch"></i> Repo</a>{{ end }}
    </span>
    {{.Content}}
    <span class="info">
      {{ range .Params.tags }}
        <a href='{{ "/tags/" | relURL }}{{ . | urlize }}' class="no-style">
          <span class="chip">{{ . }}</span>
        </a>
      {{ end }}
    </span>
    <hr />
    {{ with .Params.author }}
      {{ $author := index $.Site.Data.authors . }}
      <div>
        <div class="author">
          <div class="image round">
            <img src='{{$author.image | relURL}}' />
          </div>
          <div class="description">
            <h4 class="name">{{$author.name}}</h4>
            <div class="bio">{{$author.bio}}</div>
          </div>
        </div>
      </div>
    {{ end }}
  </article>
  <section>
    <div class="container">
      <div class="grid horizontal-center">
        <div class="col xs-22 sm-10 md-7 lg-5">
          {{ with .PrevInSection }}
            <div>
              <a href="{{.RelPermalink}}" class="no-style">
                <h6><i class="fas fa-fw fa-chevron-left"></i> Prev</h6>
                <h4>
                  {{.Title}}
                </h4>
                <p>
                  {{.Params.description}}
                </p>
              </a>
            </div>
          {{end}}
        </div>
        <div class="col xs-22 sm-10 md-7 lg-5">
          {{ with .NextInSection }}
            <div>
              <a href="{{.RelPermalink}}" class="no-style text-right">
                <h6>Next <i class="fas fa-fw fa-chevron-right"></i></h6>
                <h4>
                  {{.Title}}
                </h4>
                <p>
                  {{.Params.description}}
                </p>
              </a>
            </div>
          {{end}}
        </div>
      </div>
    </div>
  </section>
{{ end }}
