{{ define "main" }}
  <section>
    <div class="container padded">
      <div class="grid">
        {{ range .Data.Pages }}
          <div class="col sm-12 md-8">
            <div class="card md">
              <div class="title-bar">
                <div class="title-inner">
                  <h3><a href="{{.RelPermalink}}">{{.Title}}</a></h3>
                  <div class="tags">
                    {{ range .Params.tags }}
                      <span class="chip">{{ . }}</span>
                    {{ end }}
                  </div>
                </div>
              </div>
              <div class="body">
                <h4>{{.Params.description}}</h4>
                {{.Params.datebegin}} - {{.Params.dateend}}
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
