*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  margin: 0;
  padding: 0; }
  html.dark, body.dark {
    background-color: #15191f;
    color: rgba(255, 255, 255, 0.7); }

input:not([type="checkbox"]), button, submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-family: unset; }

textarea, input {
  font-family: unset; }

.text-center {
  text-align: center; }

:root {
  background-color: #15191f; }

html, body {
  font-size: 12px;
  font-family: "Lato", Arial, Verdana, sans-serif;
  line-height: 1.5;
  letter-spacing: normal;
  font-weight: 400;
  background-color: #FCFCFC;
  color: rgba(0, 0, 0, 0.87);
  overflow-wrap: break-word;
  transition: 0.125s cubic-bezier(0.4, 0, 0.2, 1); }
  html.dark h1, html.dark h2, html.dark h3, html.dark h4, html.dark h5, html.dark h6, body.dark h1, body.dark h2, body.dark h3, body.dark h4, body.dark h5, body.dark h6 {
    color: rgba(255, 255, 255, 0.9); }
  html.dark a, body.dark a {
    color: #2f67b1; }
  @media (min-width: 768px) and (max-width: 1151px) {
    html, body {
      font-size: 13px; } }
  @media (min-width: 1152px) and (max-width: 1727px) {
    html, body {
      font-size: 14px; } }
  @media (min-width: 1728px) {
    html, body {
      font-size: 15px; } }
  html h1, html h2, html h3, html h4, html h5, html h6, body h1, body h2, body h3, body h4, body h5, body h6 {
    margin-top: 0.42em;
    margin-bottom: 0.25em;
    font-weight: 700; }
  html h1, body h1 {
    font-size: 4rem; }
  html h2, body h2 {
    font-size: 3rem; }
  html h3, body h3 {
    font-size: 2rem; }
  html h4, body h4 {
    font-size: 1.25rem; }
  html h5, body h5 {
    font-size: 1rem; }
  html h6, body h6 {
    font-size: 0.75rem; }
  html small, body small {
    font-size: 0.6em; }
  html h1 small, html h2 small, html h3 small, body h1 small, body h2 small, body h3 small {
    font-size: 0.6em; }
  html h4 small, html h5 small, html h6 small, body h4 small, body h5 small, body h6 small {
    font-size: 0.8em; }
  html a, body a {
    color: #224A7F;
    text-decoration: unset; }
    html a:hover, body a:hover {
      text-decoration: underline;
      cursor: pointer; }
    html a.no-style, body a.no-style {
      color: unset;
      text-decoration: unset; }
      html a.no-style:hover, body a.no-style:hover {
        text-decoration: unset; }
    html a.no-color, body a.no-color {
      color: unset; }
  html .colossal, body .colossal {
    font-size: 96px;
    margin: 0;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase; }
  html .mammoth, body .mammoth {
    font-size: 256px;
    margin: 0;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-transform: uppercase; }

article, .article {
  line-height: 1.8;
  font-size: 1.25rem;
  font-family: "Lato", Arial, Verdana, sans-serif;
  width: 100%; }
  article > *, .article > * {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 42rem;
    display: block; }
  article > *.outset, .article > *.outset {
    width: 64rem; }
  article > *.fullwidth, .article > *.fullwidth {
    width: 100%; }
  article > img, .article > img {
    width: 64rem; }
  article .info, .article .info {
    font-size: 1rem; }
    article .info time, .article .info time {
      font-size: 0.85rem; }
  article p, .article p {
    font-family: "Source Serif Pro", Palatino, Georgia, serif;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  article .title, .article .title {
    line-height: 1.25; }
  article h1, article h2, article h3, article h4, article h5, article h6, article .info, article p, .article h1, .article h2, .article h3, .article h4, .article h5, .article h6, .article .info, .article p {
    padding-left: 8px;
    padding-right: 8px; }

button {
  padding: 8px 16px;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 0.85rem;
  font-family: "Lato", Arial, Verdana, sans-serif;
  text-transform: uppercase;
  color: #FFB74D;
  text-align: center;
  transition: 0.125s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px; }
  button:hover {
    background-color: #FFB74D;
    color: #FFFFFF; }
  button:active {
    background-color: #FFB74D;
    color: #FFFFFF; }
  button.primary {
    background-color: #2f67b1;
    color: #FFFFFF; }
    button.primary:hover {
      background-color: #5087d0;
      color: #FFFFFF; }
  button.outline {
    background-color: #FFFFFF;
    color: #2f67b1;
    border: 1px solid #5087d0; }
    button.outline:hover {
      background-color: #FFFFFF;
      color: #5087d0;
      border-color: #83aade; }
  button.text {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.38); }
    button.text:hover {
      background-color: rgba(107, 107, 107, 0.12);
      color: rgba(0, 0, 0, 0.38); }
    button.text.raised {
      background-color: #FFFFFF;
      color: rgba(0, 0, 0, 0.38); }
      button.text.raised:hover {
        background-color: #FFFFFF;
        color: rgba(0, 0, 0, 0.38); }
  button.raised {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    border: 0; }
    button.raised:hover {
      box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.12), 0 4px 16px 0 rgba(32, 32, 32, 0.12);
      transform: translateY(-1px);
      border: 0; }
  button.fixed-width {
    min-width: 96px; }
  button:focus {
    outline: none; }

body.dark button.outline {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7); }
  body.dark button.outline:hover {
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9); }
  body.dark button.outline.raised {
    border: 1px solid rgba(255, 255, 255, 0.7); }
    body.dark button.outline.raised:hover {
      border-color: rgba(255, 255, 255, 0.9); }

body.dark button.text {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5); }
  body.dark button.text:hover {
    background-color: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.7); }
  body.dark button.text.raised {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5); }
    body.dark button.text.raised:hover {
      background-color: rgba(255, 255, 255, 0.12);
      color: rgba(255, 255, 255, 0.7); }

.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  max-width: 100%;
  height: 100%; }
  .card.center {
    margin: auto; }
  .card.accent {
    border-top: 6px solid #FFB74D; }
  .card > *:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
    .card > *:first-child:before {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
  .card > *:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
    .card > *:last-child:before {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
  .card > .title .card-title-image {
    border-radius: inherit; }
  .card > .title .title-inner {
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white; }
    .card > .title .title-inner h1, .card > .title .title-inner h2, .card > .title .title-inner h3, .card > .title .title-inner h4, .card > .title .title-inner h5, .card > .title .title-inner h6 {
      font-weight: 300;
      text-shadow: 0 2px 16px rgba(0, 0, 0, 0.12), 0 2px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.12);
      margin: 0; }
    .card > .title .title-inner button {
      color: white;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
    .card > .title .title-inner .tags {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
  .card > .title-bar {
    letter-spacing: 1px; }
    .card > .title-bar > .title-inner {
      padding: 8px 20px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      color: #224A7F;
      background-color: #FFFFFF; }
      .card > .title-bar > .title-inner h1, .card > .title-bar > .title-inner h2, .card > .title-bar > .title-inner h3, .card > .title-bar > .title-inner h4, .card > .title-bar > .title-inner h5, .card > .title-bar > .title-inner h6 {
        margin: 0; }
      .card > .title-bar > .title-inner button {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem; }
      .card > .title-bar > .title-inner .tags {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem; }
  .card > .body, .card > .bar {
    padding: 8px 20px;
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.75); }
  .card > .body {
    text-overflow: ellipsis;
    position: relative;
    font-size: 1rem; }
    .card > .body:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(transparent calc(100% - 1em), rgba(255, 255, 255, 0.7));
      pointer-events: none; }
  .card > .bar {
    border: 1px rgba(0, 0, 0, 0.12);
    border-style: solid none none none; }
  .card.sm > .title {
    height: 170.66667px; }
  .card.md > .title {
    height: 256px; }
  .card.lg > .title {
    height: 384px; }
  .card.restrict-height.sm > .body {
    overflow: hidden;
    max-height: 85.33333px; }
  .card.restrict-height.md > .body {
    overflow: hidden;
    max-height: 128px; }
  .card.restrict-height.lg > .body {
    overflow: hidden;
    max-height: 192px; }
  .card.restrict-width.sm {
    width: 256px; }
  .card.restrict-width.md {
    width: 384px; }
  .card.restrict-width.lg {
    width: 576px; }

body.dark .card.accent {
  border-color: #FFB74D; }

body.dark .card > .title .title-inner {
  color: white; }
  body.dark .card > .title .title-inner button {
    color: white; }

body.dark .card > .title-bar > .title-inner {
  background-color: #222832; }

body.dark .card > .body, body.dark .card > .bar {
  background-color: #222832;
  color: rgba(255, 255, 255, 0.7); }

body.dark .card > .body:before {
  background: linear-gradient(transparent calc(100% - 1em), rgba(34, 40, 50, 0.7)); }

body.dark .card > .bar {
  border-color: rgba(255, 255, 255, 0.12); }

.chip {
  display: inline-block;
  border-radius: 2em;
  background-color: rgba(0, 0, 0, 0.12);
  padding: 0 0.75em;
  margin: 0 0.25em; }

body.dark .chip {
  background-color: rgba(255, 255, 255, 0.12); }

.container {
  width: 100%;
  margin: auto; }
  .container.padded {
    padding: 8px; }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 1152px) {
    .container {
      max-width: 1080px; } }
  @media (min-width: 1728px) {
    .container:not(.narrow) {
      max-width: 1620px; } }

footer {
  background-color: rgba(0, 0, 0, 0.87);
  color: rgba(255, 255, 255, 0.7);
  padding: 64px 0 128px; }
  footer ul {
    list-style: none; }
  footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    color: white; }
  footer.with-sidebar {
    margin-left: 64px; }

body.dark footer {
  background-color: #080a0c; }

.grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  .grid:after {
    content: "";
    display: block;
    clear: both; }
  .grid > .col {
    float: left;
    width: 100%;
    max-width: 100%;
    padding: 8px 8px; }
    .grid > .col.xs-1 {
      width: 4.16667%; }
    .grid > .col.xs-2 {
      width: 8.33333%; }
    .grid > .col.xs-3 {
      width: 12.5%; }
    .grid > .col.xs-4 {
      width: 16.66667%; }
    .grid > .col.xs-5 {
      width: 20.83333%; }
    .grid > .col.xs-6 {
      width: 25%; }
    .grid > .col.xs-7 {
      width: 29.16667%; }
    .grid > .col.xs-8 {
      width: 33.33333%; }
    .grid > .col.xs-9 {
      width: 37.5%; }
    .grid > .col.xs-10 {
      width: 41.66667%; }
    .grid > .col.xs-11 {
      width: 45.83333%; }
    .grid > .col.xs-12 {
      width: 50%; }
    .grid > .col.xs-13 {
      width: 54.16667%; }
    .grid > .col.xs-14 {
      width: 58.33333%; }
    .grid > .col.xs-15 {
      width: 62.5%; }
    .grid > .col.xs-16 {
      width: 66.66667%; }
    .grid > .col.xs-17 {
      width: 70.83333%; }
    .grid > .col.xs-18 {
      width: 75%; }
    .grid > .col.xs-19 {
      width: 79.16667%; }
    .grid > .col.xs-20 {
      width: 83.33333%; }
    .grid > .col.xs-21 {
      width: 87.5%; }
    .grid > .col.xs-22 {
      width: 91.66667%; }
    .grid > .col.xs-23 {
      width: 95.83333%; }
    .grid > .col.xs-24 {
      width: 100%; }
    @media (min-width: 768px) {
      .grid > .col.sm-1 {
        width: 4.16667%; }
      .grid > .col.sm-2 {
        width: 8.33333%; }
      .grid > .col.sm-3 {
        width: 12.5%; }
      .grid > .col.sm-4 {
        width: 16.66667%; }
      .grid > .col.sm-5 {
        width: 20.83333%; }
      .grid > .col.sm-6 {
        width: 25%; }
      .grid > .col.sm-7 {
        width: 29.16667%; }
      .grid > .col.sm-8 {
        width: 33.33333%; }
      .grid > .col.sm-9 {
        width: 37.5%; }
      .grid > .col.sm-10 {
        width: 41.66667%; }
      .grid > .col.sm-11 {
        width: 45.83333%; }
      .grid > .col.sm-12 {
        width: 50%; }
      .grid > .col.sm-13 {
        width: 54.16667%; }
      .grid > .col.sm-14 {
        width: 58.33333%; }
      .grid > .col.sm-15 {
        width: 62.5%; }
      .grid > .col.sm-16 {
        width: 66.66667%; }
      .grid > .col.sm-17 {
        width: 70.83333%; }
      .grid > .col.sm-18 {
        width: 75%; }
      .grid > .col.sm-19 {
        width: 79.16667%; }
      .grid > .col.sm-20 {
        width: 83.33333%; }
      .grid > .col.sm-21 {
        width: 87.5%; }
      .grid > .col.sm-22 {
        width: 91.66667%; }
      .grid > .col.sm-23 {
        width: 95.83333%; }
      .grid > .col.sm-24 {
        width: 100%; } }
    @media (min-width: 1152px) {
      .grid > .col.md-1 {
        width: 4.16667%; }
      .grid > .col.md-2 {
        width: 8.33333%; }
      .grid > .col.md-3 {
        width: 12.5%; }
      .grid > .col.md-4 {
        width: 16.66667%; }
      .grid > .col.md-5 {
        width: 20.83333%; }
      .grid > .col.md-6 {
        width: 25%; }
      .grid > .col.md-7 {
        width: 29.16667%; }
      .grid > .col.md-8 {
        width: 33.33333%; }
      .grid > .col.md-9 {
        width: 37.5%; }
      .grid > .col.md-10 {
        width: 41.66667%; }
      .grid > .col.md-11 {
        width: 45.83333%; }
      .grid > .col.md-12 {
        width: 50%; }
      .grid > .col.md-13 {
        width: 54.16667%; }
      .grid > .col.md-14 {
        width: 58.33333%; }
      .grid > .col.md-15 {
        width: 62.5%; }
      .grid > .col.md-16 {
        width: 66.66667%; }
      .grid > .col.md-17 {
        width: 70.83333%; }
      .grid > .col.md-18 {
        width: 75%; }
      .grid > .col.md-19 {
        width: 79.16667%; }
      .grid > .col.md-20 {
        width: 83.33333%; }
      .grid > .col.md-21 {
        width: 87.5%; }
      .grid > .col.md-22 {
        width: 91.66667%; }
      .grid > .col.md-23 {
        width: 95.83333%; }
      .grid > .col.md-24 {
        width: 100%; } }
    @media (min-width: 1728px) {
      .grid > .col.lg-1 {
        width: 4.16667%; }
      .grid > .col.lg-2 {
        width: 8.33333%; }
      .grid > .col.lg-3 {
        width: 12.5%; }
      .grid > .col.lg-4 {
        width: 16.66667%; }
      .grid > .col.lg-5 {
        width: 20.83333%; }
      .grid > .col.lg-6 {
        width: 25%; }
      .grid > .col.lg-7 {
        width: 29.16667%; }
      .grid > .col.lg-8 {
        width: 33.33333%; }
      .grid > .col.lg-9 {
        width: 37.5%; }
      .grid > .col.lg-10 {
        width: 41.66667%; }
      .grid > .col.lg-11 {
        width: 45.83333%; }
      .grid > .col.lg-12 {
        width: 50%; }
      .grid > .col.lg-13 {
        width: 54.16667%; }
      .grid > .col.lg-14 {
        width: 58.33333%; }
      .grid > .col.lg-15 {
        width: 62.5%; }
      .grid > .col.lg-16 {
        width: 66.66667%; }
      .grid > .col.lg-17 {
        width: 70.83333%; }
      .grid > .col.lg-18 {
        width: 75%; }
      .grid > .col.lg-19 {
        width: 79.16667%; }
      .grid > .col.lg-20 {
        width: 83.33333%; }
      .grid > .col.lg-21 {
        width: 87.5%; }
      .grid > .col.lg-22 {
        width: 91.66667%; }
      .grid > .col.lg-23 {
        width: 95.83333%; }
      .grid > .col.lg-24 {
        width: 100%; } }
  .grid.strict > .col {
    padding: 0; }
  .grid.vertical-center {
    align-items: center; }
  .grid.horizontal-center {
    justify-content: center; }

header.main {
  width: 100%;
  letter-spacing: 1px; }
  header.main h1, header.main h2, header.main h3, header.main h4, header.main h5, header.main h6 {
    text-transform: uppercase; }
  header.main .title {
    font-weight: 900; }
  header.main .subtitle {
    font-weight: 300; }

.img {
  overflow: hidden; }
  .img.rounded {
    border-radius: 4px; }
  .img > .inner {
    position: relative;
    width: 100%;
    max-width: 100%;
    max-height: 100%; }
    .img > .inner > .image, .img > .inner > noscript > .image {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: opacity; }
      .img > .inner > .image.preview, .img > .inner > noscript > .image.preview {
        z-index: 0; }
    .img > .inner > div.image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-blend-mode: luminosity;
      background-attachment: fixed; }
    .img > .inner > img.image, .img > .inner > noscript > img.image {
      object-fit: cover; }
    .img > .inner > .children {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      z-index: 2;
      overflow: hidden;
      color: white;
      text-shadow: 0 2px 16px rgba(0, 0, 0, 0.12), 0 2px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.12); }
  .img.invisible > .inner > .image:not(.noscript):not(.preview) {
    opacity: 0;
    visibility: hidden; }
  .img.sm {
    height: 341.33333px; }
  .img.md {
    height: 512px; }
  .img.lg {
    height: 768px; }
  .img.full {
    height: 100vh; }
    @media (max-width: 767px) {
      .img.full {
        height: 768px; } }
  .img.fill {
    height: 100%; }
  .img.sized > .inner {
    height: 100%; }

main {
  min-height: 100vh;
  padding-top: 1px; }
  @media (max-width: 767px) {
    main {
      min-height: 768px; } }
  main.with-sidebar {
    margin-left: 64px; }
  main.with-navbar {
    margin-top: 64px; }
  main.section-no-margin > section {
    margin-top: 0;
    margin-bottom: 0; }

nav, .nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.125s cubic-bezier(0.4, 0, 0.2, 1) transform;
  font-family: "Lato", Arial, Verdana, sans-serif;
  font-size: 0.84rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  z-index: 64;
  border-top: 4px solid #224A7F; }
  nav.hidden, .nav.hidden {
    transform: translateY(-100%); }
  nav.top, .nav.top {
    background-color: transparent; }
  nav > .nav-container, .nav > .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto; }
    nav > .nav-container > .container, .nav > .nav-container > .container {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      white-space: nowrap; }
      nav > .nav-container > .container > .element, .nav > .nav-container > .container > .element {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 8px;
        max-width: 100%;
        height: 100%; }
        nav > .nav-container > .container > .element > .item, .nav > .nav-container > .container > .element > .item {
          color: rgba(0, 0, 0, 0.54);
          transition: 0.125s cubic-bezier(0.4, 0, 0.2, 1);
          white-space: nowrap;
          max-width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
          nav > .nav-container > .container > .element > .item > *, .nav > .nav-container > .container > .element > .item > * {
            color: unset;
            text-decoration: unset;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px; }
            nav > .nav-container > .container > .element > .item > *.active, .nav > .nav-container > .container > .element > .item > *.active {
              color: #184989; }
          nav > .nav-container > .container > .element > .item:hover, .nav > .nav-container > .container > .element > .item:hover {
            color: #184989;
            cursor: pointer; }
          nav > .nav-container > .container > .element > .item:active, .nav > .nav-container > .container > .element > .item:active {
            color: #184989; }

body.dark nav, body.dark .nav {
  background-color: #222832;
  border-color: #FFB74D; }
  body.dark nav > .nav-container > .container > .element > .item, body.dark .nav > .nav-container > .container > .element > .item {
    color: rgba(255, 255, 255, 0.7); }
    body.dark nav > .nav-container > .container > .element > .item > *.active, body.dark .nav > .nav-container > .container > .element > .item > *.active {
      color: white;
      background-color: #15191f; }
    body.dark nav > .nav-container > .container > .element > .item:hover, body.dark .nav > .nav-container > .container > .element > .item:hover {
      color: white;
      background-color: #15191f; }
    body.dark nav > .nav-container > .container > .element > .item:active, body.dark .nav > .nav-container > .container > .element > .item:active {
      color: white;
      background-color: #15191f; }

section {
  margin: 64px auto; }
  section > .section-header, section > .container > .section-header {
    font-family: "Lato", Arial, Verdana, sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 16px; }
  section.subsection > .section-header, section.subsection > .container > .section-header {
    border-bottom: unset;
    position: relative;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center; }
    section.subsection > .section-header > *, section.subsection > .container > .section-header > * {
      margin: 0;
      padding: 0 16px;
      background-color: #FCFCFC;
      display: inline-block;
      position: relative;
      z-index: 1;
      transition: 0.125s cubic-bezier(0.4, 0, 0.2, 1); }
    section.subsection > .section-header:before, section.subsection > .container > .section-header:before {
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      background-color: rgba(0, 0, 0, 0.12);
      z-index: 0; }

.card > .body section {
  margin: 16px auto; }

body.dark section > .section-header, body.dark section > .container > .section-header {
  border-color: rgba(255, 255, 255, 0.12); }

body.dark section.subsection > .section-header > *, body.dark section.subsection > .container > .section-header > * {
  background-color: #15191f; }

body.dark section.subsection > .section-header:before, body.dark section.subsection > .container > .section-header:before {
  background-color: rgba(255, 255, 255, 0.12); }

body.dark .card > .body section.subsection > .section-header > *, body.dark .card > .body section.subsection > .container > .section-header > * {
  background-color: #222832; }

.tooltip-parent {
  position: relative; }
  .tooltip-parent > .tooltip {
    position: absolute;
    white-space: nowrap;
    background-color: #101010;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.75rem;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.125s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 64; }
    .tooltip-parent > .tooltip:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      z-index: -1; }
    .tooltip-parent > .tooltip.left {
      right: calc(100% + 12px);
      top: 50%;
      transform: translateY(-50%); }
      .tooltip-parent > .tooltip.left:before {
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #101010;
        left: calc(100% - 1px);
        top: calc(50% - 8px); }
    .tooltip-parent > .tooltip.right {
      left: calc(100% + 12px);
      top: 50%;
      transform: translateY(-50%); }
      .tooltip-parent > .tooltip.right:before {
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #101010;
        right: calc(100% - 1px);
        top: calc(50% - 8px); }
    .tooltip-parent > .tooltip.top {
      bottom: calc(100% + 12px);
      left: 50%;
      transform: translateX(-50%); }
      .tooltip-parent > .tooltip.top:before {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #101010;
        top: calc(100% - 1px);
        left: calc(50% - 8px); }
    .tooltip-parent > .tooltip.bottom {
      top: calc(100% + 12px);
      left: 50%;
      transform: translateX(-50%); }
      .tooltip-parent > .tooltip.bottom:before {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #101010;
        bottom: calc(100% - 1px);
        left: calc(50% - 8px); }
  .tooltip-parent:hover > .tooltip {
    opacity: 1;
    visibility: visible; }

body.dark .tooltip-parent > .tooltip {
  background-color: #dfdfdf;
  color: #000000; }
  body.dark .tooltip-parent > .tooltip.left:before {
    border-left: 8px solid #dfdfdf; }
  body.dark .tooltip-parent > .tooltip.right:before {
    border-right: 8px solid #dfdfdf; }
  body.dark .tooltip-parent > .tooltip.top:before {
    border-top: 8px solid #dfdfdf; }
  body.dark .tooltip-parent > .tooltip.bottom:before {
    border-bottom: 8px solid #dfdfdf; }
