<footer>
  <div class="container padded narrow">
    <div class="grid vertical-center horizontal-center">
      <div class="col sm-8">
        <div class="text-center">
          <h4>Kevin Wang</h4>
          web dev | powered by coffee
        </div>
      </div>
      <div class="col sm-8">
        <div class="text-center">
          <ul>
            <li><a class="no-color" target="_blank" rel="noopener noreferrer" href="https://github.com/xorkevin/xorkevin"><i class="fa fa-fw fa-github"></i> Github</a></li>
            <li>Designed with <a class="no-color" target="_blank" rel="noopener noreferrer" href="https://github.com/hackform/nuke">hackform/nuke</a></li>
          </ul>
        </div>
      </div>
      <div class="col sm-8">
        <div class="text-center">
          <h5><i class="fa fa-fw fa-code"></i> with <i class="fa fa-fw fa-heart-o"></i> by <a class="no-color" target="_blank" rel="noopener noreferrer" href="https://github.com/xorkevin"><i class="fa fa-fw fa-github"></i> xorkevin</a></h5>
        </div>
      </div>
    </div>
  </div>
</footer>
