<footer>
  <div class="container padded narrow">
    <div class="grid vertical-center horizontal-center">
      <div class="col sm-8">
        <div class="text-center">
          <h4>Kevin Wang</h4>
          web dev | tech evangelist | powered by coffee <i class="fas fa-fw fa-coffee"></i>
        </div>
      </div>
      <div class="col sm-8">
        <div class="text-center">
          <ul>
            <li>
              <a class="no-color" target="_blank" rel="noopener noreferrer" href='{{"KevinWangResume.pdf" | relURL}}'>
                <i class="fas fa-fw fa-file-alt"></i> Resume
              </a>
            </li>
            <li>
              <a class="no-color" target="_blank" rel="noopener noreferrer" href="mailto:wangkevin448@gmail.com">
                <i class="fas fa-fw fa-envelope"></i> wangkevin448@gmail.com
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col sm-8">
        <div class="text-center">
          <ul>
            <li>
              <span>
                <i class="fas fa-fw fa-code"></i> with <i class="far fa-fw fa-heart"></i> by <a class="no-color" target="_blank" rel="noopener noreferrer" href="https://github.com/xorkevin"><i class="fab fa-fw fa-github"></i> xorkevin</a>
              </span>
            </li>
            <li>
              <span>
                themed with <a class="no-color" target="_blank" rel="noopener noreferrer" href="https://github.com/xorkevin/xorkevin">xorkevin/core</a>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
