<footer>
  <div class="container padded narrow">
    <div class="grid vertical-center horizontal-center">
      <div class="col sm-8">
        <div class="text-center">
          <h4>Kevin Wang</h4>
          web dev | tech evangelist | powered by coffee <i class="fa fa-fw fa-coffee"></i>
        </div>
      </div>
      <div class="col sm-8">
        <div class="text-center">
          <ul>
            <li><a class="no-color" target="_blank" rel="noopener noreferrer" href='{{"KevinWangResume.pdf" | relURL}}'><i class="fa fa-file-text fa-fw"></i> Resume</a></li>
            <li><a class="no-color" target="_blank" rel="noopener noreferrer" href="mailto:wangkevin448@gmail.com"><i class="fa fa-envelope fa-fw"></i> wangkevin448@gmail.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col sm-8">
        <div class="text-center">
          <h5><i class="fa fa-fw fa-code"></i> with <i class="fa fa-fw fa-heart-o"></i> by <a class="no-color" target="_blank" rel="noopener noreferrer" href="https://github.com/xorkevin"><i class="fa fa-fw fa-github"></i> xorkevin</a></h5>
        </div>
      </div>
    </div>
  </div>
</footer>
