<div class="grid">
  {{ range where .Data.Pages "Section" "projects" }}
    <div class="col md-12">
      <h3><a class="no-style" href="{{.RelPermalink}}">{{.Title}}</a></h3>
      <div>
        <a class="no-style" href="{{.RelPermalink}}">
          <p>
            {{.Params.description}}
          </p>
        </a>
      </div>
      <div class="tags">
        {{ range .Params.tags }}
          <a href='{{ "/tags/" | relURL }}{{ . | urlize }}' class="no-style">
            <span class="chip">{{ . }}</span>
          </a>
        {{ end }}
      </div>
      <div>
        {{.Params.datebegin}} - {{.Params.dateend}}
      </div>
    </div>
  {{ end }}
</div>
